@using HotUI.Blazor.Components

    <div class="hotui-page">
        @if (_views.Any())
        {
            <button class="btn btn-link" @onclick="@Back">Back</button>
        }
        else
        {
            <button class="btn btn-link" @onclick="@Back" disabled>Back</button>
        }
        <br />
        <BView @key="@View" View="@View" />
    </div>

@code {
    private Stack<View> _views = new Stack<View>();
    private View _view;

    [Parameter]
    public View View
    {
        get => _view;
        set
        {
            _view = value;

            _view.GetOrCreateViewHandler();

            if (_view?.BuiltView is NavigationView nav)
            {
                nav.PerformNavigate = toView =>
                {
                    _views.Push(View);
                    View = toView;
                    StateHasChanged();
                };
            }
        }
    }

    private void Back()
    {
        View = _views.Pop();
        StateHasChanged();
    }
}
