@inherits HotUIComponentBase

<div class="container">
    @foreach (var view in _views)
    {
        <BView @key="@view" View="@view" />
    }
</div>

@code {
    private IEnumerable<View> _views;

    [Parameter]
    public IEnumerable<View> Views
    {
        get => _views ?? Enumerable.Empty<View>();
        set => _views = value;
    }
}
