@inherits HotUIComponentBase

<div class="form-group">
    <div class="hotui-textfield">
        <input class="form-control" type="text" value="@Text" onchange="@OnChange" />
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public Action<string> OnChange { get; set; }
}
