@inherits CometComponentBase

<div class="container-fluid comet-containerview">
    @foreach (var view in Views)
    {
        <BView @key="@view" View="@view" />
    }
</div>

@code {
    [Parameter]
    public IList<View> Views { get; set; }
}
