@inherits CometComponentBase

<ui class="comet-listview list-group">
    @if (List != null)
    {
        var cursor = HasOnSelected ? "Pointer" : "Default";

        var sections = List.Sections();
        for (int section = 0; section < sections; section++)
        {
            var tmpSection = section;
            var rows = List.Rows(section);
            for (int row = 0; row < rows; row++)
            {
                var tmpRow = row;
                var view = List.ViewFor(tmpSection, tmpRow);

                <li class="list-group-item list-group-item-action">
                    <div style="cursor:@cursor" @onclick="@(()=> List.OnSelected(tmpSection, tmpRow))">
                        <BView @key="@view" View="@view" />
                    </div>
                </li>
            }
        }
    }
</ui>

@code {
    [Parameter]
    public bool HasOnSelected { get; set; }

    [Parameter]
    public IListView List { get; set; }
}
