@inherits CometComponentBase

@if (IsIndeterminate)
{
    <div class="comet-progress progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" />
    </div>
}
else
{
    <div class="comet-progress progress">
        <div class="progress-bar" role="progressbar" style="width: @Value%" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="1" />
    </div>
}

@code {
    [Parameter]
    public double Value { get; set; }

    [Parameter]
    public bool IsIndeterminate { get; set; }
}
