@inherits CometComponentBase

<div class="form-group">
    <div class="comet-textfield">
        <input class="form-control" type="text" value="@Text" @onchange="@OnChange" @oninput="@OnInput"/>
    </div>
</div>

@code 
{
    [Parameter]
    public string Text { get; set; }

    public Action<string> TextChanged { get; set; }
    public Action<string> TextInput { get; set; }

    public void OnChange(ChangeEventArgs evt)
    {
        TextChanged?.Invoke(evt.Value?.ToString());
    }

    public void OnInput(ChangeEventArgs evt)
    {
        TextInput?.Invoke(evt.Value?.ToString());
    }
}
