@inherits CometComponentBase

<div class="Comet-unsupported Comet-unsupported-@View.GetType().Name alert alert-danger" role="alert">
    Unsupported component: @View.GetType().FullName
</div>

@code {
    [Parameter]
    public View View { get; set; }
}
